@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"width" 100;
    background: rgb(26, 24, 24);
  }

  /* shared style  */
.content{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.content-1{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* header style */

header{
    /* height: 715px; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0 100px;
    margin-top: 50px;
    height: 46px;
}
.nav-title{
    font-weight: 800;
    font-size: 36px;
    font-family: Inter;
    color: rgb(230, 83, 60);
    text-align: left;
    font-style: italic;
}
nav ul{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}
nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 400;
}
ul li a {
    text-decoration: none;
}
ul button {
    border: none;
    border-radius: 8px ;
    background: rgb(230, 83, 60);
}
.bar{
    display: none;
}
/* banner style */

.banner{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.banner-container{
    width: 520px;
    height: 440px;
    margin: 70px;
    margin-left: 100px;
}
.banner-greating{
    font-size: 78px;
    font-weight: 900px;
    color: rgb(255, 255, 255);
}
#shape{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}
.btn-add{
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
    margin-top: 20px;
}
.btn-app{
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600px;
    backdrop-filter: blur(0px);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    border-radius: 42px;
    border: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}
.banner-img{
    width: 350px;
    height: 580px;
    background: url(88);
    margin-top: 70px;
    margin-right: 350px;
    margin-left: 420px;
}

.first{
    width: 155px;
    height: 75px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 1350px;
    top: 300px;
}
.five, .three{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    position: absolute;
    left: 5px;
    top: 20px;
}
.second{
    width: 160px;
    height: 75px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 1000px;
    top: 600px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.banner-content{
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    top: 0px;
    bottom: 30px;
}

/* Habits style */

.habits{
    margin: 100px;
}
.title{
    text-align: center;
    margin-bottom: 30px;
}
.habits-title{
    color: rgb(255, 255,255) ;
    font-size: 30px;
    font-weight: 900;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.h6{
    color: white;
    text-align: center;
}
.exercises-img{
    border-radius: 50%;
    margin-left: 70px;
}

/* Run Section style */

.run-container{
    margin: 100px;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.run-container-text{
    margin-left: 40px;
}
.run-container-text p {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}
.run-container-text h2{
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 800;
    width: 250px;
}
.run-container-img{
    margin: 30px;
}
.run-img{
    width: 250px;
    height: 220px;
    border-radius: 20px;
    margin-left: 550px;
}
.btn{
    color: azure;
    background-color: rgb(230, 83, 60);
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border: none;
}

/* BMI Calculator style */

.bmi-title{
    width: 38%;
    margin: auto;
    text-align: left;
}
.bmi-h1{
    color: rgb(255, 255, 255);
}
.bmi-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
.bmi-bg{
    background-color: rgb(34, 34, 34);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
table{      
    border-collapse: collapse;
}
tr{
    text-align: center;
    
}
th{
    color: white;
    font-size: 16px;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
td, th {
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.bmi-h2{
    color: white;
}
.bmi-left{
    padding: 0 0 0 100px;
}
.calculator{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
}
input{
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    padding-left: 18px;
}
select{
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    padding-left: 18px;
}
.select{
    width: 100%;
    grid-column: span 2;
}
.cal-btn{
    width: 150px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
}

/* Meet Our Team style */

.meet-title{
    width: 50%;
    margin: auto;
    text-align: center;
}
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px;
    background: rgb(34, 34, 34);
    border-radius: 17px;
    background-image:image();
}
.team-img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.team-1{
    position: relative;
    margin: 10%;
    right: 15px;
    
}
.team-name{
    position: absolute;
    left: 10px;
    bottom: 2px;
    color: white;
}
/* Footer style */

footer{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px;
    left: 200px;
}
.foot-title{
    color: rgb(230, 83, 60);
    font-size: 45px;
}
.footer-title{
    margin-left: 200px;
}
.get{
    color: white;
}
.same{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.foot-content{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 15px;
}
@media screen and (max-width:576px){
    nav{
        justify-content: space-between;
        margin: 20px;
    }
    .ul{
        display: none;
    }
    .bar{
        display: block;
        color: aliceblue;
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .banner-container{
        margin: 20px;
        padding-right: 10px;
        width: 100%;
    }
    .bp{
        width: 80%;
    }
    .banner-img{
        margin: 80px;
        margin-right: 0;
    }
    .img-banner{
        margin-top: 50px 0 0 0;
        padding-top: 200px;
    }
    .btn-add{
        width: 190px;
    }
    .btn-app{
        width: 190px;
    }
    .first{
        left: 280px;
        top: 920px;
    }
    .second{
        left: 90px;
        top: 1100px;
    }
.habits{
    margin: 0;
    padding-left: 20px;
}
.container{
    grid-template-columns: repeat(1, 1fr);
    
}
.exercises{
    padding-right: 90px;
}
.content-2{
    padding-right: 50px;
}
.btn{
    width: 90%;
}
.run-container{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
.run-img{
    margin-left: 7px;
    width: 100%;
}
.bmi-bg{
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
}
.bmi-title{
    width: 80%;
    padding: 20px;
    text-align: left;
    margin: 0;
}
.bmi-left{
    padding: 0 0 0 0;
}
input{
    padding-left: 10px;
}
select{
    padding-left: 10px;
}
.team{
    grid-template-columns: repeat(1, 1fr);
}
.team-img{
    width: 100%;
    height: 200px;
    padding-left: 12px;
}
footer{
    width: 100%;
}
.footer{
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
}
.footer-title{
    margin-left: 0;
}
}